dataset/
sources/
*.ipynb
*.pdf
*.csv
*.json
.env
.python-version
uv.lock
pyproject.toml
README.md
__pycache__/
*.pyc
*.pyo
*.pyd
.git/
.gitignore
main.py
dev.ipynb
lambda.ipynb
test-term.ipynb
01-offlineflow.ipynb
02-onlineflow.ipynb